body
{
   -webkit-user-select: none;
   user-select: none;

   font-size: 25px;
   text-align: center;
}
body::-webkit-scrollbar
{
   width: 0;
   height: 0;
   background: transparent;
}

button
{
   font-family: system-ui;
   border: none;
   background-color: transparent;
   outline: none;

   padding: 1px;

   cursor: pointer;
   
   font-size: 25px;
   outline: none;
}

select
{
   font-family: system-ui;
   text-align: center;
   border: none;
   outline: none !important;

   font-size: 25px;

   width: 52px;
   cursor: pointer;
}

option
{
   font-size: 17px;
}

input
{
   outline: none !important;
}
::placeholder
{
   color: darkgray;
   opacity: 1;
}

br
{
   display: block;
   content: "";
   margin-top: 9px;
}

#undo, #redo
{
   position: relative;
   bottom: -2px;
   font-size: 30px;
}

#drawingCanvasContainer
{
   border: 2px solid black;
   margin: auto;

   resize: both;
   overflow: hidden;
   min-width: 100px;
   min-height: 100px;
   max-width: 1920px;
   max-height: 1920px;

   position: relative;
   width: 500px;
   height: 500px;
}

#textinput
{
   display: none;

   font-size: 30px;
   text-align: center;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   width: 250px;
   
   border-radius: 6px;

   background: #6E6D70;
   color: #DFDEDF;
}


#tollerancelabel
{
   display: none;
   position: absolute;

   bottom: 20px;
   left: 2px;

   font-family: system-ui;
   font-size: 15px;

   filter: invert(100%)
}
#tollerancebutton
{
   display: none;
   position: absolute;

   bottom: 0px;
   left: 2px;

   font-family: system-ui;
   font-size: 15px;
   font-weight: bold;

   filter: invert(100%)
}
#tollerancebar
{
   display: none;
   position: absolute;

   bottom: 0px;
   left: 0px;

   width: calc(50px + 35%);
}


#colorpicker
{
   font-family: system-ui;

   border: 2px solid;
   border-radius: 50%;

   background-image: linear-gradient(to left, indigo, blue, green, yellow, orange, red);
   
   cursor: pointer;

   width: 29px;
   height: 29px;

   position: relative;
   top: -2px;
   left: -8px;
}

#sizebar
{
   width: 400px;
}

#sizecount
{
   position: relative;
   font-family: system-ui;
}

#blocker
{
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100%;
   width: 100%;
   background-color: black;
   opacity: 0.5;
}



@keyframes shake
{ 
   0% {transform: rotate(12deg);}
   25% {transform: rotate(-12deg);}
   50% {transform: rotate(6deg);}
   75% {transform: rotate(-6deg);}
   100% {transform: rotate(0deg);}
}
@keyframes bigShake
{ 
   0% {transform: rotate(20deg);}
   25% {transform: rotate(-20deg);}
   50% {transform: rotate(10deg);}
   75% {transform: rotate(-10deg);}
   100% {transform: rotate(0deg);}
}
@keyframes bounce
{
   0% {transform: scale(1);}
   50% {transform: scale(1.2);}
   100% {transform: scale(1);}
}
@keyframes left
{
   0% {transform: translateX(0);}
   50% {transform: translateX(-5px);}
   100% {transform: translateX(0);}
}
@keyframes right
{
   0% {transform: translateX(0);}
   50% {transform: translateX(5px);}
   100% {transform: translateX(0);}
}
@keyframes fade
{
   0% {bottom: -20px; opacity: 0;}
   25% {bottom: 10px; opacity: 1;}
   100% {bottom: 10px; opacity: 1;}
}



.range
{
   appearance: none;
   -webkit-appearance: none;
   overflow: hidden;

   border-radius: 15px;
   box-shadow: inset 0 0 5px #000;
}
.range::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 15px;
   height: 15px;
   
   border-radius: 50%;
   background: #333;
   
   cursor: pointer;
}
.range::-webkit-slider-thumb:hover {background: #666;}
.range::-webkit-slider-thumb:active {background: #999;}


.toast
{
   display: none;
   min-width: 250px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 2px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   bottom: 10px;
   font-size: 17px;
   left: 50%;
   transform: translate(-50%, -50%);
}


.loader
{
   display: none;
   
   font-size: 10px;
   width: 1em;
   height: 1em;
   border-radius: 50%;

   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

   filter: brightness(0%);
   
   text-indent: -9999em;
   animation: loading 1.1s infinite ease;
   overflow: visible;
}
@keyframes loading
{
   0%, 100% {box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);}
   12.5% {box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);}
   25% {box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);}
   37.5% {box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);}
   50% {box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);}
   62.5% {box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);}
   75% {box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);}
   87.5% {box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;}
}